<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Text Analyzer</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://127.0.0.1:8000">TextUtil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/contact">Contact Us</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div>
    <div class="jumbotron">
      <h1 class="display-4">Hello, Geeks!</h1>
      <p class="lead">This is a simple tool, which is perform particular operations on a text and give us a desired
        output.
        for using character counter you have to select only character counter.
      </p>
      <hr class="my-4">
      <p>It is useful for Text Utilization.</p>
      <a class="btn btn-primary btn-lg" href="https://theptech.com/text-utility/" role="button">Learn more</a>
    </div>
  </div>

  <div class="container">
    <form action="/analyze" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Enter Your Text Here:</label>
        <textarea name='text' class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>


      <div class="custom-control custom-switch" align='center'>
        <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">Remove Panctuation</label>
      </div>

      <div class="custom-control custom-switch" align='center'>
        <input type="checkbox" name="capitalize" class="custom-control-input" id="customSwitch2">
        <label class="custom-control-label" for="customSwitch2">Upper Case</label>
      </div>

      <div class="custom-control custom-switch" align='center'>
        <input type="checkbox" name="newlineremover" class="custom-control-input" id="customSwitch3">
        <label class="custom-control-label" for="customSwitch3">New Line Remove</label>
      </div>

      <div class="custom-control custom-switch" align='center'>
        <input type="checkbox" name='extraspaceremover' class="custom-control-input" id="customSwitch4">
        <label class="custom-control-label" for="customSwitch4">Extra Sapace Remover</label>
      </div>

      <div class="custom-control custom-switch" align='center'>
        <input type="checkbox" name="charcount" class="custom-control-input" id="customSwitch5">
        <label class="custom-control-label" for="customSwitch5">Character Counter</label>
      </div>

      </br>
      <p align='center'>
        <button type="submit" class="btn btn-dark">Analyze Text</button>
      </p>
  </div>
  </form>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>